<div class="container">
    <h1>Step {{step}}</h1>
    <div *ngIf="step==1">
        <p>Upload excel</p>
        <input type="file" accept=".xlsx,.csv" required (change)="onExcelSelected($event)">

        <button class="btn btn-primary" (click)="step=2" *ngIf="file">Next</button>
    </div>
    <div *ngIf="step==2">
        <a (click)="step=1">Back</a>
        <p>Compose Email</p>

        <form [formGroup]="mailForm" (ngSubmit)="sendMail()">
            From : <input type="email" formControlName="from">
            Subject : <input type="text" formControlName="subject">

            <ckeditor formControlName="body"
                [config]="{ toolbar: [ 'bold', 'italic','fontColor','fontSize','underline','numberedList', 'bulletedList','|','outdent', 'indent', '|','uploadImage','insertTable','|','subscript', 'superscript','specialCharacters','|','undo', 'redo','sourceEditing' ] }"
                [editor]="Editor"></ckeditor>

            <p>{{mailForm.get('body').value}}</p>

            <p *ngIf="mailForm.invalid && mailForm.touched" style="color: red;">Some fields Invalid</p>
            
            <button class="btn btn-primary" type="submit" [disabled]="!mailForm.valid">Send Email</button>
        </form>

    </div>
</div>